* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);
  
  height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  /* background-image:url(images/rocket.jpg);
  background-size:cover; */
  background-image: linear-gradient(to right, #eb556b, #ef5a61, #f26156, #f3694b, #f27140, #f2793a, #f28035, #f1882f, #f2902e, #f4982e, #f49f2e, #f5a72f);
  
}

body {
  display: grid;
  place-items: center;
  background-color: #C7D2FE66 ;
  
}

main {
  background: url(images/background.svg);
  width: 375px;
  height: 812px;
  border-radius: 10px;

   
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--gray);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray);
}

a {
  color: var(--gray);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  
}

  li:hover {
    background-color: #ffcd1e;
   }
  
p {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  color:#ffcd1e;
  text-align: center;
  line-height: 1.5;
 
}

ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  

}

