* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);

  height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
 /*  background-image: linear-gradient(
    to right,
    #eb556b,
    #ef5a61,
    #f26156,
    #f3694b,
    #f27140,
    #f2793a,
    #f28035,
    #f1882f,
    #f2902e,
    #f4982e,
    #f49f2e,
    #f5a72f
  ); */
  background: url("../images/background.webp");
}

body {
  display: grid;
  place-items: center;
}


main {
  background: url(images/background.svg);
  width: 23.125rem;
  height: 43.75rem;
  border-radius: 0.625rem;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--gray);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.rotate {
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray);
}

a {
  color: var(--gray);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

li:hover {
  background-color: #fd2577;
}

p {
  color: white;
  text-align: center;
  line-height: 1.5;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0.5rem
}

ul {
  margin-top: 2rem;
  
  list-style: none;
  padding: 0;

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
}

li {
  transition: all ease 0.2s;
}

ul li:hover {
  transform: scale(1.1);
}

strong:hover {
  color: #fd2577;
}

/* //Responsividade */
@media (max-width: 1080px) {
  html, body {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html, body {
    font-size: 87.5%;
  }
}

.badge-rope {

    width: 64px;
    height: 250px;
    top: 0;
    z-index: 3;
    border-radius: 0 0 5px 5px;
    transform: translateY(-230px);
    background-image: var(--color-theme);
  
}